@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
    background-color: rgb(71, 5, 71);
}

#title
{
    font-family: 'Mate SC', serif;
}


.card
{
    box-shadow: 5px 5px gray;
}

#flex-div
{
    display: flex;
}

#flex-two
{
    flex: 2;
}

.sign
{
    font-size: large;
    background-color: rgb(204, 194, 194);
    color: blue;
    border-radius: 100px;
    padding: 5px 12px;
    cursor: pointer;
}